/*scoial Icons css*/
 .sme__scoial{
       height: 406px !important;
 }
 .sociual__css{
        color: #3d3d3d;
    font-size: 41px;
    margin-bottom: 28px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #8d8d8d;
 }
/*scoial Icons css*/


.les_ma{
  margin-top: 10px !important;
  
}










 
.shipping__container{
    padding-top: 9px;
    background: #e9ecef;
}
.me__rsi{
    font-size: 47px;
}

 .span__class, .fa:hover{
      color :#ff7a3b !important
   }
   .seec__css {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap__class {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap__class:hover {
       background: linear-gradient(1deg,#ffffff 0%,#d7d7d7 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
 
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 .p__tag:hover {
   color: #000;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}










.bbol-size{
	font-size: 42px;
    color: #9c9595;
}

/*Best JQuiry Css*/
.padding__counter{
	    padding-top: 47px;
    padding-bottom: 47px;
    border-top: 1px solid #e7e2df;
    background: #f6f7f9;
}
.bg__grow{
background: #fbfffe;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #f7f7f7;
}
.updown__css{
	line-height: 9;
}
.sm__img{
	width: 53px !important;
}
.how__css{
background-color: #f6f7f9;
    padding-top: 23px;
    padding-bottom: 23px;
}
.growbu__css{
	font-size: 52px;
}
.essy__lifecss{
	color: #17a2b8;
    font-weight: 800;
}
.storere__css{
	background: #ff7a3b;
    padding: 0px 30px 6px 30px;
    border-radius: 6px;
    font-size: 37px;
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    color: #fff;
}
 
/*Best JQuiry Css End*/



.upper__se__thora{
	margin-top: 50px;
}
.text__specal{
	color: #f3822e;
    font-weight: revert;
}
.left__borders
{
	    border-right: 4px solid #17a2b8;
}
.img__Logo{
	max-width: 169px !important;
}
.img__Logoss{
	    max-width: 69px !important;
}
.btn-darkss{
	    background: #145ea1;
    color: #fff;
}
.bootn__footer__css{
	padding-top: 27px;
    padding-bottom: 26px;
}
.col__padding0{
	padding: 0px;
}